* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: #d22780;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
div.wraper {
  position: relative;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDiTzURO7r2iC9ZoGLeEuvHfNLlNQjWOMXLw&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #6a097d;
  width: 300px;
  height: 25rem;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  word-wrap: break-word;
}
.wraper:hover {
  box-shadow: 1px 3px 10px;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
div.inp {
  margin: 40px 60px;
}
div.dis {
}
h2.city {
  margin-left: 100px;
  color: #0e49b5;
}
.stree {
  position: absolute;
  left: 30px;
  font-size: 40px;
  color: #5fdde5;
}
div.showtem {
  position: static;
  bottom: 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input{
  background-color: #51adcf;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}